body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    
    width: 414px;
    overflow-y: scroll;
    
}

header {
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    
}

h2 {
    font-size: 36pt;
    color: #000000;
    font-weight: bolder;
}

main {
        background: #aeb181;
        border-radius: 30px;
        min-height: 100px;
        padding: 30px;
        padding-bottom: 15px;
    }

.buttons {
    display: flex;
    margin-bottom: 15px;
    margin-left: 0px;
    
}
.button {
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0 0 7px rgba(61, 61, 61, 0.2);
    height: 100px;
    width: 360px;
    border-radius: 10px;
    
}
.svg {
    display: flex;
    margin-left: 85px;
}

.svg1 {
    display: flex;
    margin-left: 67px;
}

.svg2 {
    display: flex;
    margin-left: 120px;
}
.strelka {
    display: flex;
    margin-left: 0px;
}
.text {
    display: flex;
    margin-left: 15px;
}

.text1 {
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
   
}
.text2 {
    display: flex;
    margin-left: 15px;
    margin-right: 30px;

}


.content {
    padding: 0px;
    margin-left: 30px;
  }

  .content1 {
      display: flex;
      padding: 0px;
    margin-left: 30px;

  }

  p.fig {
      display: block;
    text-align: center;
    margin-top: 10px;
    }
.text2 {
    margin-left: 30px;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}
.text3 {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
   
    
}

.col {
    width: 208px;
    vertical-align: top;
    
    

}


.column {
    font-size: 14px;
    font-weight: bolder;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom:0px; /*отступ снизу*/
    width:85%; /*указываем общую ширину блока с колонками*/
    text-align:justify; /*выравнивание текста внутри колонок*/
    column-count: 4; /*количество колонок, на которое хотим разбить текст*/
    -moz-column-count: 4; /*для мозилы*/
    -webkit-column-count: 4; /*для webkit браузеров*/
    column-gap: 40px; /*отступ между колонками*/
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    }

    .column2 {
        font-size: 12px;
        color: #8c8f67 ;
        margin-left: 30px;
        margin-right: 30px;
       padding-top: 0px;
        padding-bottom:20px; /*отступ снизу*/
        width:85%; /*указываем общую ширину блока с колонками*/
        text-align:justify; /*выравнивание текста внутри колонок*/
        column-count: 4; /*количество колонок, на которое хотим разбить текст*/
        -moz-column-count: 4; /*для мозилы*/
        -webkit-column-count: 4; /*для webkit браузеров*/
        column-gap: 40px; /*отступ между колонками*/
        -moz-column-gap: 40px;
        -webkit-column-gap: 40px;
        }

        footer {
            position: fixed;
            left: 0; bottom: 0; 
            padding: 10px; 
            color: #cacaca;
            width: 100%; 
           }
.video {
    display: flex;
    justify-content: center;
}


   a {
    color: #000000;
}

a:hover {
    color: #aeb181;
}
a:active  {
    color: #aeb181;
}

